/*MENSAJE TRADUCTOR NO ENCONTRADO*/
.nocp{
    color: red;
    border: solid 2px red;
    text-align: center;
    top:40vh;
}

hr {
    border-top: 1px solid transparent;
    margin: 15px 0 20px 0;
    width: 100%;
}

a:hover{
    text-decoration:none;
    color:blue;
}

.imgcarga{
    height:40px;
    width:40px;
}

.imagen {
    border: solid 2px black;
    margin: 10px;
    width: 90px;
    height: 90px;
}

.fitxa {
    border: 1px solid black;
    margin: 1px;
    text-align: center;
    /*background-color: lightgreen;*/
}

#divCol {
    padding: 0px !important;
}

.centro {
    text-align:center;
}