<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Registrar Servicio</title>
</head>
<body>
    <h1>Registrar</h1>
    <h3>Servicio</h3>
    <hr />
    <!--FORMULARIO-->
    <form [formGroup]="ServicioForm" (ngSubmit)="save()" #formDir="ngForm" novalidate class="col-md-8 col-md-offset-2">
        <!--INTRODUCIR SERVICIO-->
        <div class="form-group row">
            <label class="letra control-label col-md-12" for="Servicio">Servicio
                <!--VALIDACION SERVICIO-->
                <span class="label-danger label" *ngIf="ServicioForm.hasError('required', 'servicio') && formDir.submitted">
                    Rellena el campo: "Servicio".
                </span>
            </label>
            <div>
                <input class="form-control" type="text" formControlName="servicio">
            </div>            
        </div>
        <div class="form-group botones">
            <!--Botones añadir/atras-->
            <button type="submit" class="btn btn-default">Guardar</button>
            <button class="btn" (click)="cancel()">Atrás</button>
        </div>
    </form>
</body>
</html>