<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Registrar Idioma</title>
</head>
<body>
    <h1>Registrar</h1>
    <h3>Idioma</h3>
    <hr />
    <!--FORMULARIO-->
    <form [formGroup]="IdiomaForm" (ngSubmit)="save()" #formDir="ngForm" novalidate class="col-md-8 col-md-offset-2">
        <!--INTRODUCIR IDIOMA-->
        <div class="form-group row">
            <label class="letra control-label col-md-12" for="Idioma">Idioma
                <!--VALIDACION IDIOMA-->
                <span class="label-danger label" *ngIf="IdiomaForm.hasError('required', 'idioma') && formDir.submitted">
                    Rellena el campo: "Idioma"
                </span>
            </label>
            <div>
                <input class="form-control" type="text" formControlName="idioma">
            </div>
        </div>
        <!--BOTONES ACEPTAR/CANCELAR-->
        <div class="form-group botones">
            <button type="submit" class="btn btn-default">Guardar</button>
            <button class="btn" (click)="cancel()">Atrás</button>
        </div>
    </form>
</body>
</html>