/*MENSAJE ERROR NO LOGEADO*/
.notr {
    color: red;
    border: solid 2px red;
    top:40vh;
    text-align:center;
}

hr {
    border-top: 1px solid;
    margin: 15px 0 20px 0;
    color:silver;
    width: 100%
}

.verhr {
    color: white;
}

a:hover{
    text-decoration: none;
    color:blue;
}

.footer{
    position:fixed;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.87);
    width:100%;
    left:0;
}

.footerdentro{
    color:white;
    text-align:center;
}

.imagen {
   border: solid 2px black;
   margin: 10px;
   width:90px;
   height:90px;
}

.tdimg{
    max-width:500px;
}

.mrgbottom{
    margin-bottom:60px;
}

.imgcarga {
    height:40px;
    width:40px;
}

.tabla {
    margin-bottom: 100px;
}

td {
    max-width:100px; 
    overflow:hidden;

}

.ss {
    word-break: break-word;
}

.fitxa {
    border: 1px solid black;
    margin-bottom: 10px;
    text-align: center;
}