/*MENSAJE ERROR NO LOGEADO*/
.notr {
    color: red;
    border: solid 2px red;
    top:40vh;
    text-align:center;
}

hr {
    border-top: 1px solid;
    margin: 15px 0 20px 0;
    color:silver;
    width: 100%
}

.verhr {
    color: white;
}

a:hover{
    text-decoration: none;
    color:blue;
}

.footer{
    position:fixed;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.87);
    width:100%;
    left:0;
}

.footerdentro{
    color:white;
    text-align:center;
}

.imagen {
   border: solid 2px black;
   margin: 10px;
   width:90px;
   height:90px;
}

.tdimg{
    max-width:500px;
}

.mrgbottom{
    margin-bottom:60px;
}

.imgcarga {
    height:40px;
    width:40px;
}

.tabla {
    margin-bottom: 100px;
}

td {
    max-width:100px; 
    overflow:hidden;

}

.fitxa {
    border: 1px solid black;
    margin-bottom: 10px;
    text-align: center;
    word-break: break-word; 
    font-family: Garamond;
}

.popup {
    word-break: break-word;
    font-family: Garamond;
    position: fixed;
    right: -8.5%;
    top: 13%;
    width: 100%;
    z-index: 12;
}

.botones {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color:white;
    background-color: black;
    text-align: center;
    width: 100%;
    height:50px;
}

.botones:hover {
    background-color: #5f5f5f;
}

.fitxa h1 {
    line-height:2;
}

.baja {
    height: 50px;
}
