/*Logo ojo ver contraseña*/
.verpass {
    background-color: white;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.letra {
    font-size: 18px;
}
hr {
    border-top: 1px solid silver;
    margin: 15px 0 20px 0;
    width: 100%;
}
.botones {
    margin-left: -15px;
}
.tam {
    width: 94%;
    display: inline-block !important;
}

.tamojo {
    width: 5%;
    display: inline-block !important;
}