<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <h3>Traductor</h3>
    <hr />
    <nav-menu #navmenu></nav-menu>
    <form [formGroup]="LogregForm" (ngSubmit)="enviar()" #formDir="ngForm" novalidate class="col-md-8 col-md-offset-2">
        <h1>Iniciar sesión</h1>
        <br /><br />
        <div class="form-group row">
            <!--USUARIO LOGIN-->
            <label class="control-label letra col-md-12" for="Usuario">
                <i class="glyphicon glyphicon-user"></i> Usuario
                <span class="label-danger label" *ngIf="LogregForm.hasError('required', 'usuario') && formDir.submitted">
                    Rellena el campo: "Ususario".
                </span>
            </label>
            <div>
                <input class="form-control tam" type="text" formControlName="usuario">
            </div>
        </div>

        <!--CONTRASEÑA LOGIN-->
        <div class="form-group row">
            <label class="control-label letra col-md-12" for="Contrasena">
                <i class="glyphicon glyphicon-lock"></i> Contraseña
                <span class="label-danger label" *ngIf="LogregForm.hasError('required', 'contrasena') && formDir.submitted">
                    Rellena el campo: "Contraseña".
                </span>
                <span class="label-danger label" *ngIf="LogregForm.hasError('pattern', 'contrasena') && formDir.submitted">
                    La contraseña ha de tener números y letras, con un mínimo de 2 y un máxiom de 40 caracteres.
                </span>
            </label>
            <div>
                <input class="form-control tam" [type]="hide ? 'text' : 'password'" formControlName="contrasena">
                <a title="{{hide ? 'Ocultar contraseña' : 'Mostrar contraseña'}}" class="verpass tamojo letra {{hide ? 'glyphicon glyphicon-eye-open' : 'glyphicon glyphicon-eye-close'}}" (click)="hide = !hide"></a>
            </div>           
        </div>

        <!--BOTONES-->
        <div class="form-group botones">
            <!--BOTON LOGEAR-->
            <button type="submit" class="btn btn-default glyphicon glyphicon-log-in"> Entrar</button>
            <!--BOTON IR A REGISTROP-->
            <button class="btn" (click)="logreg()">Registrarse</button>
        </div>

    </form>
</body>
</html>