hr {
    border-top: 1px solid silver;
    margin: 15px 0 20px 0;
}

a:hover{
    text-decoration:none;
    color:blue;
}

img{
    width: 50px;
    height: 31px;
}

.imgcarga{
    height:40px;
    width:40px;
}