.centro{
    text-align:center;
}

.butsi {
    background-color: green;
    height: 75px;
    width: 75px;
    font-size: 35px;
    color: white;
    border-radius: 50%;
    border: none
}

.butno {
    background-color: red;
    height: 75px;
    width: 75px;
    font-size: 35px;
    color: white;
    border-radius: 50%;
    border: none;
}